// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product {
  &_container {
    max-width: 700px;
    margin: 0 auto;
  }
  &_image {
    margin-top: 39px;
  }
  &_description {
    margin-top: 15px;
  }
}
.thumbnail {
  & img {
    width: 150px;
    height: 150px !important;
  }
}
