h1 {

color: #555;
}
.app__container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.alert {
 margin-top: 19px;
 text-align: center;
}

.cart__button,
.category__label_item {
  margin-right: 5px;
}

.category__label_container {
  margin-bottom: 10px;
}

.full__container {
  margin: 0 40px;
  margin-top: 20px;
}

.image_pdf {
  width: 80px;
  height: 80px;
}

.menu {
  padding: 0 30px;
}
.panel-primary {
  margin-top: 39px
}
.product__menu_tabs {
  margin: 20px 0;
}
.product__menu_text {
  margin: 15px 0 0 17px;
}

.search__input {
  margin-bottom: 21px;
}

.thumbnails__container {
  margin-top: 21px;
}
