<div class="col-sm-6 col-sm-offset-3">
  <h1 class="text-center">Editar Categoría</h1>

  <%= render 'form' %>

  <%= link_to 'Ver productos', @category %>
  <%= link_to 'Atrás', categories_path %>
</div>
