<div class="col-sm-6 col-sm-offset-3">
<h1 class="text-center">Editing Supplier</h1>

<%= render 'form' %>

<%= link_to 'Ver productos del proveedor', @supplier %> |
<%= link_to 'Atrás', suppliers_path %>
</div>
